<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ escape(handler.settings["blog_title"]) }}</title>
  <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css" type="text/css">

  <!--<link rel="stylesheet" href="{{ static_url('css/base.css') }}" type="text/css">-->
  <link rel="stylesheet" href="../static/css/base.css" type="text/css">

  <script src="../static/lib/jquery-2.2.3.min.js"></script>
  <script src="../static/lib/lodash.js"></script>
  <script src="../static/lib/vue.js"></script>
  <script src="../static/lib/vue-resource.js"></script>
  {% block head %}{% end %}
</head>
<body>

<div class="header">
  <h1><a href="/">{{ escape(handler.settings["blog_title"]) }}</a></h1>
</div>
<div class="body">
  <div class="left-menu">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="/top">Top</a></li>
      <!--<li role="presentation"><a href="/crawl">爬取</a></li>-->
      <li role="presentation"><a href="/research_area_link">研究领域关系图</a></li>
      <!--<li role="presentation"><a href="#">Messages</a></li>-->
    </ul>
  </div>
  <div class="content">{% block body %}{% end %}</div>
</div>

{% block bottom %}
{% block footer %}

{% end %}
{% end %}
{% block end_scripts %}{% end %}
<script>
//  var url_arr = window.location.href.split('/');

</script>

</body>
</html>
